.cuadriculas {
    border: 2px salmon;
    border-radius: 5px;
    background-color: rgb(248, 248, 38);
    display: grid;
    grid-template-columns: repeat(3, fr);
    gap: 10px; /*agregemos espacio entre los elementos*/
    padding: 10px;
}
.box {
    border: 2px salmon;
    border-radius: 5px;
    background-color: rgb(248, 248, 38);
    padding: 1em;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    box-sizing: border-box; /*para asegurar que no afecte el tamaño de cuadro*/
}
.nested {
    border: 2px salmon;
    border-radius: 5px;
    background-color: rgb(42, 165, 138);
    padding: 1em;
    box-sizing: border-box;
}
.box2, .box3, .box4, .box5 {
    border: saddlebrown;
    border-radius: 5px;
    background-color: rgb(42, 165, 138);
    padding: 1em;
    color: rgb(0, 0, 0);
}